
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

// Begin SASS

// Header

.header{
  margin: 5px 0 5px 0px;
  padding: 20px;
  border-bottom: 1px solid #E5E5E5;
  background-color: #F5F5F5;
}

.img-header{
  padding-right: 10px;
}

#header-search{
  width: 200px;
}

// Aside
.Sean{
  border: 1px solid gray;
  border-radius: 15px;
  height: 230px;
  width: 230px;
}

.name {
  font-size: 18px;
  margin-bottom: 0px;
}

.username{
  font-size: 14px;
  color: #666666;
}

.bio {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}


// Lower header link bars


.lower-head-links{
  left: 55px;
  padding-bottom: 5px;
    span{
    font-size: 14px;
    margin-right: 60px;
  }
}

// Repository Search

// .repository-search{
//   border-top: 1px solid gray;
//   border-bottom: 1px solid gray;
// }

.repo-name{
  font-size: 20px;
}


// Footer

.footer{
  padding-top: 10px;
  border-top: 1px solid gray;
}
